/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(232, 232, 232, 1);
}

button {
  margin-right: 0px;
  margin-left: 1rem;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  outline: 0px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.14) black;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn {
  height: 30px;
  padding: 0px 15px 2px;
  font-weight: 600;
  font-size: 1rem;
  line-height: normal;
  border-radius: 2px;
  cursor: pointer;
  outline: 0px;
  background-color: rgb(0, 126, 255);
  border: 1px solid rgb(0, 126, 255);
  color: rgb(255, 255, 255);
}

.btn-danger {
  background-color: red;
  border: 1px solid red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.modal-backdrop {
  opacity: 0.5;
  width: inherit;
  height: inherit;
  background-color: grey;
  position: fixed;
}

.modal-body {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal-footer {
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243 136 5);
  padding: 10px;
  color: white;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  background-color: white;
  z-index: 1;
  /*  padding: 10px;*/
  margin-top: 10px;

  width: 520px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

input[type="text"] {
  width: 100%;
  /*height: 3.4rem;*/
  padding: 9px;
  font-weight: 400;
  /*font-size: 1.3rem;*/
  cursor: text;
  outline: 0px;
  border: 1px solid rgb(227, 233, 243);
  border-radius: 2px;
  color: rgb(51, 55, 64);
  background-color: transparent;
  box-sizing: border-box;
}
input:active {
  border-color: rgb(0, 126, 255);
}

.label {
  padding: 4px 0;
  font-size: small;
  color: rgb(51, 55, 64);
}

.inputField {
  margin: 3px 7px;
  /*flex: 1 40%;*/
}

textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
